
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #2e7d32; 
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 15px;
}


.card {
    background: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


.img-futebol {
    width: 100%;
    max-height: 350px;
    object-fit: cover; 
    border-radius: 6px;
    margin: 15px 0;
}


.btn-curiosidade {
    background-color: #1565c0;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn-curiosidade:hover {
    background-color: #0d47a1;
}


.escondido {
    display: none;
}

.bg-dica {
    background-color: #e8f5e9;
    padding: 12px;
    border-left: 5px solid #2e7d32;
    margin-top: 10px;
    border-radius: 4px;
}
